/**
 * Media queries breakpoints
 */

 $ps:              240px  !default; // phone small
 $pm:              320px  !default; // phone medium
 $pl:              480px  !default; // phone large
 $ts:              600px  !default; // tablet small
 $tm:              768px  !default; // tablet medium
 $tl:              992px  !default; // tablet large
 $ds:              1200px !default; // desktop small
 $dm:              1600px !default; // desktop medium
 $dl:              1920px !default; // desktop large
 
 /*background*/

 
 /*font color*/
 $font-color-menu:rgba(255,255,255,1);
 $font-color-menu-notactive:rgba(255,255,255,0.4);
/*font */
$font-menu: 'Roboto', sans-serif;
 /*reset css*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 @mixin prefix($declarations, $prefixes: ()) {
    @each $property, $value in $declarations {
      @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
      }
  
      // Output standard non-prefixed declaration
      #{$property}: $value;
    }
  }